# frozen_string_literal: true

class AddTinkickEditDistance < ActiveRecord::Migration[8.0]
  def up
    create_schema "tinkick", if_not_exists: true

    execute <<~SQL
<%= edit_distance_sql.lines.map { |line| line.strip.empty? ? line : "      #{line}" }.join -%>
    SQL
  end

  def down
    execute "DROP FUNCTION IF EXISTS tinkick.edit_distance(text, text, integer, boolean)"
  end
end
